.preview-block {
    box-sizing: border-box;
    padding: 10px 10px 0;
}
.preview-top {
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    .preview-top_big-btn {
        margin-right: 10px;
        flex-grow: 2;
        width: 50%;
    }
    .preview-top_change-size-cont {
        display: flex;
        BUTTON {
            border-radius: 0;
        }
        BUTTON + BUTTON {
            margin-left: -1px;
        }
        BUTTON:first-child {
            border-radius: 4px 0 0 4px;
        }
        BUTTON:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
}

.preview-bottom {
    justify-content: space-between;
    display: flex;
}
.preview-nav {
    flex: 0 0 auto;
    width: 40px;
    & > BUTTON {
        height: 34px;
        width: 30px;
    }
    & > BUTTON + BUTTON {
        margin-top: 4px;
    }
}
.preview-current {
    -webkit-font-smoothing: antialiased;
    border: 1px solid rgba(#000, .3);
    box-sizing: border-box;
    border-radius: 6px;
    height: 72px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.preview-line-info {
    border-bottom: 1px solid rgba(#fff, .12);
    background: rgba(#fff, .06);
    padding: 2px 4px 2px 8px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .light-theme & {
        border-bottom: 1px solid rgba(#000, .12);
        background: rgba(#000, .06);
    }
}
.preview-line-info-text {
    transition: opacity .2s linear;
    line-height: 16px;
    font-size: 11px;
    flex-grow: 2;
    opacity: .5;
    & > B {
        font-size: 12px;
    }
    .preview-current:hover & {
        opacity: .8;
    }
}
.preview-line-style-name {
    text-overflow: ellipsis;
    vertical-align: bottom;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 86px;
}
.preview-line-info-color {
    box-shadow: 0 0 4px 1px rgba(#000, .4);
    border: 1px solid rgba(#fff, .8);
    display: inline-block;
    position: relative;
    border-radius: 50%;
    margin-left: 8px;
    height: 10px;
    width: 10px;
    top: 1px;
}
.preview-line-size {
    justify-content: space-between;
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
    & > SPAN {
        height: 16px;
    }
    SVG {
        cursor: pointer;
        opacity: .4;
        &:hover {
            opacity: .8;
        }
    }
    INPUT {
        appearance: textfield;
        text-align: center;
        line-height: 12px;
        font-size: 12px;
        padding: 0 2px;
        margin: 0 3px;
        width: 26px;
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none;
        }
    }
}
.preview-line-info-actions {
    flex: 0 0 auto;
    height: 16px;
    & > SVG {
        cursor: pointer;
        opacity: .7;
        &:hover {
            color: #fff;
            opacity: 1;
        }
    }
}
.preview-line-text {
    word-break: break-word;
    letter-spacing: 1px;
    padding: 5px 8px;
    font-size: 14px;
    overflow: auto;
    flex-grow: 2;
}