 body {
    margin: 10px;
}

.tool-header {
	position: relative;
	z-index: 2;
}
.tool-header-actions {
	margin-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	position: relative;
}
#tool-status {
	border: 1px solid rgba(0, 0, 0, .8);
	background: rgba(0, 0, 0, .5);
	position: absolute;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	left: 8px;
	top: 8px;
}
#tool-status:before {
	background: rgba(255, 255, 255, .08);
	position: absolute;
	border-radius: 50%;
	content: '';
	height: 6px;
	width: 6px;
	left: 4px;
	top: 4px;
}
.tool-active #tool-status {
	
}
#tool-toggle {
	padding: 0 2.4rem;
}
#tool-insert-current {
	position: absolute;
	right: 5px;
	top: 1px;
}
.tool-current {
	position: relative;
	padding-left: 40px;
}
.tool-current-actions {
	position: absolute;
	width: 27px;
	left: 0;
	top: 0;
}
#tool-current-line {
	border: 1px solid rgba(0, 0, 0, .4);
	border-radius: 3px;
	min-height: 44px;
	padding: 4px 6px;
	font-size: 18px;
}
.dark-theme #tool-current-line {
	background: rgba(0, 0, 0, .03);
}
.light-theme #tool-current-line {
	background: rgba(255, 255, 255, .2);
}
#tool-error {
	text-align: center;
	position: absolute;
	display: none;
	width: 100%;
}
#tool-error SPAN {
	font-weight: bold;
	padding: 0 6px;
	color: #f00;
}

.tool-body {
	position: relative;
	padding-top: 10px;
	margin-top: 10px;
	z-index: 1;
}
.dark-theme .tool-body {
	border-top: 1px solid rgba(255, 255, 255, .3);
}
.light-theme .tool-body {
	border-top: 1px solid rgba(0, 0, 0, .4);
}
.tool-hidden-origins {
	display: none;
}
#tool-text {
	border: 1px solid rgba(0, 0, 0, .4);
	border-radius: 3px;
	position: relative;
	overflow-y: auto;
	padding: 4px 0;
}
.dark-theme #tool-text {
	background: rgba(0, 0, 0, .14);
}
.light-theme #tool-text {
	background: #fff;
}
.tool-textarea-cont {
	position: absolute;
	z-index: 1;
	bottom: 4px;
	right: 6px;
	left: 46px;
	top: 4px;
}
#tool-textarea {
	box-sizing: border-box;
	background: none;
	overflow: hidden;
	font-size: 14px;
	display: block;
	border: none;
	resize: none;
	height: 100%;
	width: 100%;
	padding: 0;
}
.tool-text-list {
	pointer-events: none;
	position: relative;
	min-height: 50px;
	z-index: 2;
}
.tool-text-list:before {
	position: absolute;
	content: '';
	width: 40px;
	z-index: 1;
	bottom: -4px;
	top: -4px;
	left: 0;
}
.dark-theme .tool-text-list:before {
	background: rgba(255, 255, 255, .1);
}
.light-theme .tool-text-list:before {
	background: rgba(0, 0, 0, .1);
}
.tool-line {
	position: relative;
	padding-left: 46px;
	padding-right: 6px;
}
.tool-line + .tool-line {
	margin-top: -1px;
}
.dark-theme .tool-line + .tool-line {
	border-top: 1px dashed rgba(255, 255, 255, .3);
}
.light-theme .tool-line + .tool-line {
	border-top: 1px dashed rgba(0, 0, 0, .4);
}
.tool-line-aside {
	position: absolute;
	width: 40px;
	left: 0;
	top: 0;
}
.tool-line-text {
	color: red;
	word-wrap: break-word;
	font-size: 14px;
}
.tool-line-action {
	pointer-events: auto;
}
#tool-current-marker {
	
}
#tool-current-marker I {
	
}
#tool-clear-text {
	margin-top: 2px;
	float: right;
}


#tool-text:focus, .tool-line:focus {
	outline: 1px solid red;
}
.tool-text-line:before {
	content: attr(data-number);
}




/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}

/* buttons */
.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}