.styles-block {
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.folders-list {
    position: relative;
    overflow-y: auto;
    padding: 10px;
    flex-grow: 2;
}
.styles-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    & > SPAN {
        text-align: center;
        font-size: 16px;
        margin: 40px;
        opacity: .6;
    }
}
.style-add  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    padding: 10px;
    BUTTON {
        width: 50%;
    }
    BUTTON + BUTTON {
        margin-left: 8px;
    }
}


.folder-item {
    background: rgba(#000, .15);
    margin-bottom: 8px;
}
.folder-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    opacity: .6;
    &:hover {
        outline: 1px solid rgba(#fff, .5);
        opacity: .8;
    }
    .light-theme &:hover {
        outline: 1px solid rgba(#000, .5);
    }
    .folder-item.m-open & {
        opacity: 1;
    }
}
.folder-marker {
    flex: 0 0 auto;
    height: 18px;
}
.folder-title {
    max-width: calc(100% - 50px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    flex-grow: 2;
    SPAN {
        opacity: .7;
    }
}
.folder-styles-count {
    margin-left: 4px;
    font-size: 12px;
    opacity: .3;
}
.folder-actions {
    flex: 0 0 auto;
    width: 18px;
    BUTTON {
        height: 18px;
        width: 18px;
        padding: 0;
    }
}
.folder-locked {
    height: 18px;
    opacity: .3;
}
.folder-styles {
    padding: 6px 4px 2px;
}
.folder-styles-empty {
    padding: 2px 10px 6px;
    text-align: center;
    font-size: 14px;
    opacity: .4;
}


.styles-list {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.style-item {
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 4px 4px 4px 6px;
    margin-bottom: 4px;
    opacity: .8;
    width: 100%;
    cursor: pointer;
    &:hover {
        outline: 1px solid rgba(#fff, .5);
        opacity: 1;
    }
    .light-theme &:hover {
        outline: 1px solid rgba(#000, .5);
    }
    &.m-current {
        outline: 1px solid #134f7f !important;
        background: #288edf;
        color: #fff;
        opacity: 1;
    }
}
@media screen and (min-width: 423px) {
    .style-item {
        width: calc(50% - 2px);
    }
}
.style-markers {
    flex: 0 0 auto;
}
.style-color {
    box-shadow: 0 0 4px 1px rgba(#000, .4);
    border: 1px solid rgba(#fff, .8);
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
.style-prefix-color {
    box-shadow: 0 0 4px 1px rgba(#000, .4);
    background: #fff;
    margin-top: 3px;
    padding: 1px;
    DIV {
        opacity: .9;
        height: 5px;
    }
}
.style-name {
    -webkit-font-smoothing: antialiased;
    max-width: calc(100% - 70px);
    text-overflow: ellipsis;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    flex-grow: 2;
}
.style-actions {
    flex: 0 0 auto;
    display: flex;
    BUTTON {
        height: 20px;
        width: 20px;
        padding: 0;
    }
    BUTTON + BUTTON {
        margin-left: 3px;
    }
}