.folder-styles-list {
    background: rgba(#000, .2);
    max-height: 345px;
    overflow-y: auto;
    padding: 4px;
}
.folder-style-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    opacity: .7;
    & + & {
        margin-top: 4px;
    }
    &:hover {
        outline: 1px solid rgba(#fff, .5);
    }
    .light-theme &:hover {
        outline: 1px solid rgba(#000, .5);
    }
    &.m-selected {
        font-weight: bold;
        opacity: 1;
    }
}
.folder-style-cbx {
    margin-right: 6px;
    flex: 0 0 auto;
}
.folder-style-title {
    flex-grow: 2;
    SPAN {
        font-weight: normal;
        margin-left: 4px;
        font-size: 12px;
        opacity: .5;
    }
}
.folder-styles-list-empty {
    text-align: center;
    padding: 4px 10px;
    font-size: 14px;
    opacity: .5;
}

.folder-edit-actions {
    justify-content: space-between;
    display: flex;
}
.folder-edit-save {
    width: 50%;
}