.style-edit-details {
    border: 1px solid rgba(#000, .12);
    background: rgba(#000, .06);
    border-radius: 3px;
    padding: 5px 8px;
    margin-top: 6px;
    font-size: 12px;
}
.style-edit-props {
    max-width: 345px;
    margin-top: 8px;
    INPUT, SELECT {
        display: inline-block;
        max-width: 100%;
        min-width: 0;
        width: 100%;
    }
    SELECT {
        padding-left: 6px;
    }
    INPUT[type=number] {
        padding-right: 0;
    }
    .style-edit-font-style {
        width: calc(50% - 37px);
        margin-left: 8px;
        flex: 0 0 auto;
    }
    .topcoat-icon-button--large:focus {
        box-shadow: inset 0 1px #737373;
        border: 1px solid #333434;
    }
    .topcoat-icon-button--large--quiet {
        border: 1px solid rgba(#000, .1);
        &:hover, &:active {
            border: 1px solid #333434;
        }
        &:focus {
            box-shadow: none;
        }
    }
}
.style-edit-props-row {
    justify-content: space-between;
    align-items: center;
    display: flex;
    & + & {
        margin-top: 10px;
    }
    &.m-autoleading {
        position: relative;
        .style-edit-props-label {
            text-align: right;
            flex-grow: 2;
            opacity: .6;
        }
        INPUT[type=number] {
            width: calc(50% - 37px);
            margin-left: 8px;
            flex: 0 0 auto;
        }
    }
}
.style-edit-props-col {
    position: relative;
    align-items: center;
    display: flex;
    width: 50%;
    &.m-justify {
        justify-content: space-between;
    }
    & + & {
        margin-left: 15px;
    }
}
.style-edit-props-icon {
    flex: 0 0 auto;
    height: 25px;
    width: 30px;
    opacity: .4;
}
.style-edit-props-unit {
    position: absolute;
    opacity: .4;
    right: 6px;
    z-index: 2;
    *:hover + &,
    *:focus + & {
        display: none;
    }
}

.style-edit-color {
    position: relative;
    width: 100%;
    .sketch-picker {
        position: absolute;
        bottom: 26px;
        z-index: 21;
        left: 0;
    }
    &.m-right {
        .sketch-picker {
            left: auto;
            right: 0;
        }
    }
}
.style-edit-color-sample {
    box-shadow: 0 0 4px 1px rgba(#000, .4);
    position: relative;
    background: #fff;
    text-align: center;
    line-height: 21px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    padding: 2px;
    DIV {
        position: absolute;
        padding: 0 4px;
        z-index: 1;
        bottom: 2px;
        right: 2px;
        left: 2px;
        top: 2px;
    }
    SPAN {
        text-shadow: 0 0 6px #fff;
        position: relative;
        z-index: 2;
    }
    &.m-opacity {
        DIV {
            opacity: .9;
        }
    }
}
.color-picker-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    left: 0;
    top: 0;
}

.style-edit-actions {
    justify-content: space-between;
    display: flex;
}
.style-edit-save {
    width: 50%;
}