.app-modal {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.app-modal-hatch {
    z-index: 1;
    opacity: .8;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.app-modal-inner {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 6px 2px rgba(#000, .4);
    position: absolute;
    border-radius: 6px;
    bottom: 20px;
    right: 8px;
    left: 8px;
    top: 8px;
}

.app-modal-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    flex: 0 0 auto;
}
.app-modal-title {
    font-weight: bold;
    font-size: 16px;
}

.app-modal-body {
    overflow: auto;
    flex-grow: 2;
}
.app-modal-body-inner {
    font-size: 14px;
    padding: 10px;
}

.app-modal-footer {
    padding: 6px 10px;
    font-size: 12px;
    flex: 0 0 auto;
}