.footer-block {
  box-sizing: border-box;
  padding: 2px 10px 6px;
  min-height: 20px;
  font-size: 12px;
  .link {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .link + .link {
    margin-left: 8px;
  }
}

@media (max-height: 450px) {
  .footer-block {
    display: none;
  }
}
